<!-- Toolbar -->
<div class="toolbar" role="banner" #topSection>
    <h1 class="blog-title">{{blog?.title}}</h1>
    <h3></h3>
</div>
<div id="fb-root"></div>
<article class="content" role="main">
    <div class="blog-content">
        <img class="title-image" src="{{blog?.titleImage}}" />
        <div class="blog-content" [innerHTML] = "safeHTML"></div>
    </div>
    <br/>
    <br/>
    <div class="fb-like" [attr.data-href]="facebookCommentsUrl" data-width="300" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
    <div class="fb-comments" [attr.data-href]="facebookCommentsUrl" data-width="350" data-numposts="5"></div>
</article>

