<!-- Toolbar -->
<div class="toolbar" role="banner" #topSection>
    <h1 class="blog-title">{{blog?.title}}</h1>
    <h3></h3>
</div>

<article class="content" role="main">
    <div class="blog-content">
        <img class="title-image" src="{{blog?.titleImage}}" />
        <div class="blog-content" [innerHTML] = "safeHTML"></div>
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=1859078887687980&autoLogAppEvents=1" nonce="sQPRtu0R"></script>
</article>
<div class="fb-like" data-href="https://heroes-search.ytechspark.com/blog?slug={{blog?.slug}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true">
</div>
<div class="fb-share-button" data-href="https://heroes-search.ytechspark.com/blog?slug={{blog?.slug}}" data-layout="button_count" data-size="small">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fheroes-search.ytechspark.com%2Fblog%3Fslug%3D{{blog?.slug}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
</div>
<div class="fb-comments" 
     data-href="https://heroes-search.ytechspark.com/blog?slug={{blog?.slug}}" 
     data-width="400" data-numposts="5">
</div>

