.nav-button {
    background-color: darkred;
    border-radius: 5px;
    border: none;
    height: 40px;
    text-align: center;
    padding: 12px;
}

#jumpTo {
    background-color: darkred;
    color: #fff;
    border: 1px solid darkred;
    border-radius: 4px;
    width: 50px;
    padding: 2px;
}

.nav-button, #jumpTo {
    color: #fff;
    outline: none;
    cursor: pointer;
}

#pageInput {
    height: 35px;
    width: 40px
}

.center-align {
    align-items: center;
}