.nav-button {
    background-color: #24292e;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
}

#jumpTo {
    background-color: red;
    color: #fff;
    border: 1px solid red;
}

.nav-button, #jumpTo {
    color: #fff;
    outline: none;
    padding: 2px;
    cursor: pointer;
    width: 40px;
}