.feed-image {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    max-height: 200px;
    background-image: url(https://via.placeholder.com/200/d2d3c9?text=loading);
}
.feed-image > img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    max-height: 200px;
}

.feed-content {
    max-width: 90%;
    padding: 10px;
}

.feed-content a {
    text-decoration: none;
    color: black;
}

.stat-item {
    width: fit-content;
}

.stat-value-red {
    padding: 2px;
    border-radius: 2px;
    background-color: brown;
}

.stat-value-green {
    padding: 2px;
    border-radius: 2px;
    background-color: greenyellow;
    color: #000;
}

.stat-value-orange {
    padding: 2px;
    border-radius: 2px;
    background-color: orange;
    color: #000;
}

.stat-value-grey {
    padding: 2px;
    border-radius: 2px;
    background-color: grey;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 320px) {
    .feed-image {
        height: 150px;
        background-image: url(https://via.placeholder.com/150/d2d3c9?text=loading);
    }
}
@media screen and (max-width: 768px) {
    .feed-image {
        max-height: 200px;
        background-image: url(https://via.placeholder.com/240/d2d3c9?text=loading);
    }
  }
  @media screen and (max-width: 767px) {

    
  }

  @media screen and (max-width: 820px) {
    
  }
