<div class="comparision-content center-text">
    <h2>Compare characters ({{feed.length}})</h2>
    <div>
        <p>Select your characters from the list above, or compare all of them by default!</p>
        <hr/>
        <ol class="compare-info-list">
            <li>Click on <strong>Select Card(s)</strong> button on top.</li>
            <li>Select card(s) that you want to compare.</li>
            <li>You may search for other card while selection mode is on</li>
            <li>Click on the compare button given below.</li>
            <li>Click on <strong>Remove Selection</strong> button on top to reset comparison.</li>
        </ol>
        <hr/>
    </div>
    <div class="card-container">
        <div class="card" >
            <button id="compare-button" *ngIf="!comparedFeedItems.length" (click) = "triggerCompare()">Compare</button>
            <button id="clear-compare-button" *ngIf="comparedFeedItems.length" (click) = "resetCompareComponent()">Clear comparison</button>
        </div>
        
        <div id="max-comparision-score" *ngIf="maxCurrentScore" class="card">Max {{currentComparisonStat ? '(' + currentComparisonStat + ')' : '(Aggregate)'}} - {{maxCurrentScore}}</div>
        
        <div class="card" *ngIf="individualStatsArray.length">
            <select
            id       = "individual-stats-select" 
            [value]  = "selectedStatToCompare" 
            (change) = "setComparisonStat($event.target.value)">
                <option value="">Select stat</option>
                <option *ngFor="let stat of individualStatsArray" [value]="stat">{{stat}}</option>
            </select>
        </div>
        
    </div>
    
    <div *ngIf="totalMaxScorers">
        <h3 class="center-text">Winners for {{currentComparisonStat ? currentComparisonStat : 'Aggregate'}} - {{totalMaxScorers}}</h3>
        <div class="card-container">
            <app-feed-card *ngFor="let card of winnerFeedItems"
                class="card"
                [feedCard] = "card"
                [comparisonStat] = "currentComparisonStat"
            ></app-feed-card>
        </div>
    </div>
    
    <div *ngIf="comparedFeedItems.length">
        <h3 class="center-text">Rankings based on {{currentComparisonStat ? currentComparisonStat : 'Aggregate stats'}}</h3>
        <div class="card-container">
            <app-feed-card *ngFor="let card of comparedFeedItems"
                class="card"
                [feedCard] = "card"
                [comparisonStat] = "currentComparisonStat"
            ></app-feed-card>
        </div>
    </div>
</div>
