<div class="comparision-content">
    <h2 class="center-text">Compare characters</h2>
    <div class="card-container">
        <div class="card" >
            <button id="compare-button" (click) = "triggerCompare()">Compare</button>
        </div>
        
        <div *ngIf="maxCurrentScore" class="card">Max {{currentComparisionStat ? '(' + currentComparisionStat + ')' : '(Aggregate)'}} - {{maxCurrentScore}}</div>
        
        <div class="card" *ngIf="individualStatsArray.length">
            <select
            id       = "individual-stats-select" 
            [value]  = "selectedStatToCompare" 
            (change) = "setComparisionStat($event.target.value)">
                <option value="">Select stat</option>
                <option *ngFor="let stat of individualStatsArray" [value]="stat">{{stat}}</option>
            </select>
        </div>
        
    </div>
    
    <div *ngIf="totalMaxScorers">
        <h3 class="center-text">Winners for {{currentComparisionStat ? currentComparisionStat : 'Aggregate'}} - {{totalMaxScorers}}</h3>
        <div class="card-container">
            <app-feed-card *ngFor="let card of winnerFeedItems"
                class="card"
                [feedCard] = "card"
                [comparisionStat] = "currentComparisionStat"
            ></app-feed-card>
        </div>
    </div>
    
    <div *ngIf="comparedFeedItems.length">
        <h3 class="center-text">Rankings based on {{currentComparisionStat ? currentComparisionStat : 'Aggregate stats'}}</h3>
        <div class="card-container">
            <app-feed-card *ngFor="let card of comparedFeedItems"
                class="card"
                [feedCard] = "card"
                [comparisionStat] = "currentComparisionStat"
            ></app-feed-card>
        </div>
    </div>
</div>
