
<app-loader></app-loader>
<router-outlet></router-outlet>

<app-live-match></app-live-match>
<!-- Footer -->
<footer>
  <h6>Thesuperheroes &trade;</h6>
  <h6><a href="{{config?.privacyPolicy.link}}"target="_black">Privacy policy</a></h6>
  <h6 class="build-version">Build version: {{buildVersion}}</h6>
  <h6 class="social-icon" (click) = "visitSocialMedia('facebook')">
    <img src="/assets/social-icons/facebook.png">
  </h6>
  <h6 class="social-icon" (click) = "visitSocialMedia('instagram')">
    <img src="/assets/social-icons/instagram.png">
  </h6>
</footer>


