.table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: #fff;
    min-height: 550px;
}

.table {
    padding: 3px;
    border-collapse: collapse;
    overflow-x: auto;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-spacing: 0;
}

.table th {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
    background-color: #fff;
}

.table td {
    padding: 5px;
}

.table tr:nth-child(odd) {
    background-color: lightgrey;
}

@media screen and (max-width: 480px) {
    .table-container {
        display: block;
        overflow-x: auto;
        align-items: initial;
        width: 400px;
    }
}

@media screen and (max-width: 378px) {
    .table-container {
        display: block;
        overflow-x: auto;
        align-items: initial;
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .table-container {
        display: block;
        overflow-x: auto;
        align-items: initial;
        width: 280px;
    }
}

