.table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.table {
    background-color: #fff;
    padding: 3px;
}

.table th {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
    background-color: #fff;
}

.table td {
    padding: 5px;
}

.table tr:nth-child(odd) {
    background-color: lightgrey;
}

@media screen and (max-width: 480px) {
    .table-container {
        justify-items: right;
        width: 100%;
        overflow: auto;
    }
  }

