<label><strong>Sort by</strong></label>&nbsp;
<select name="sort" (change)="setSortField($event.target.value)">
    <optgroup label="Last Edited">
        <option id="sort-1" value="dateLastEdited:Date:asc">Edited (asc)</option>
        <option id="sort-2" value="dateLastEdited:Date:desc">Edited (desc)</option>
    </optgroup>
    <optgroup label="Title">
        <option id="sort-3" value="title:string:asc">Title (asc)</option>
        <option id="sort-4" value="title:string:desc">Title (desc)</option>
    </optgroup>
</select>
