#searchBox, #searchBox::placeholder {
    border: 0px;
    padding: 2px;
    border-radius: inherit;
    height: 40px;
    outline: none;
    text-align: center;
    background-color: darkred;
    color: #fff;
}

#searchButton {
    cursor: pointer;
    vertical-align: middle;
    height: 40px;
    background-color: darkred;
}

#searchBox:focus {
    border: 0;
}

.tool-tip {
    display: block;
    position: absolute;
    left: 0;
    top: 45px;
    width: 270px;
    font-size: x-small;
    font-weight: bolder;
    background-color: #fff;
    vertical-align: middle;
    color: #000;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}