<div class="searchContainer">
    <input 
        type="search" 
        id="searchBox" 
        name="search" 
        placeholder="Search hero.." 
        value="{{searchText}}" 
        (change) = "searchText = $event.target.value"
        (search) = "setSearchTerm($event.target.value)"
        (input) = "searchSubject.next($event.target.value)"
    />
    <span id="searchButton" class="material-icons" (click) = "setSearchTerm(searchText)">search</span>
</div>
<div class="auto-complete" *ngIf="autoCompleteResults.data.length">
    <ul>
        <li><h3><strong>Did you mean?</strong></h3></li>
        <li><h6>Use double quotes for exact match. eg: "iron man"</h6></li>
        <li *ngFor="let item of autoCompleteResults.data" 
            value="{{item.word}}" 
            (click) = "onSuggestionSelect(item.word)">
            {{item.word}} <span class="small-text">({{item.extraFields || 'NA'}})</span>
            <span class="hits">[{{item.hits}} hits]</span>
        </li>
    </ul>
</div>
