#searchBox, #searchBox::placeholder {
    border: 0px;
    padding: 2px;
    outline: none;
    text-align: center;
    background-color: red;
    color: #fff;
}

#searchButton {
    cursor: pointer;
}

#searchBox:focus {
    border: 0;
}
