#searchBox, #searchBox::placeholder {
    border: 0px;
    padding: 2px;
    border-radius: inherit;
    height: 40px;
    outline: none;
    text-align: center;
    background-color: darkred;
    color: #fff;
}

#searchButton {
    cursor: pointer;
    vertical-align: middle;
    height: 40px;
    background-color: darkred;
}

#searchBox:focus {
    border: 0;
}
